.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  position: absolute;
  left: -10px; 
  top: 0;
}

.App-center-logo {
  pointer-events: none;
}

.App-badge{
  position: absolute;
  left: 12vmin; 
  top: 0;
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo, .App-center-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: rgba(97, 218, 251, 0.2);
}

.Navigation {
  font-size: calc(10px + 1vmin);
}

.Navigation > ul {
  right: 4vmin; 
  top: 4vmin;
  display: flex;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.NavigationLink {
  color: #61dafb;
  margin: 1vmin;
  text-decoration: none;
}


